.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.viewContainer {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
}
.justifySpaceAround {
  justify-content: space-around;
}
.justifyCenter {
  justify-content: center;
}
